<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>no styling</title>

        <link rel="stylesheet" type="text/css" href="topcoat-0.3.0/release/css/topcoat-mobile-light.min.css">
        <link rel="stylesheet" type="text/css" href="style/main.css">
        
	</head>
	<body>
        <header class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item left quarter">
                <a class="topcoat-icon-button--quiet">
                  <span class="topcoat-icon topcoat-icon--menu-stack"></span>
                </a>
            </div>
            <div class="topcoat-navigation-bar__item center half">
                <h1 class="topcoat-navigation-bar__title">Today</h1>
            </div>
        </header>

        <div class="topcoat-list__container">
            
            <ul class="topcoat-list">
                <div class="topcoat-list__header anyconf-label-status anyconf-label-status--next">
                    <div class="topcoat-navigation-bar__item left anyconf-label-time">9:00<small>am</small>&nbsp;–&nbsp;9:30<small>am</small></div>
                </div>

                <li class="topcoat-list__item">
                    <div class="anyconf-button-item">
                        <div class="anyconf-button-item-content">
                            <h2 class="anyconf-label-title">Conference Registration</h2>
                            <div class="anyconf-label-speaker">Say hello & get your badges</div>
                        </div>
                        <div class="anyconf-star">
                            <input type="checkbox" class="checkbox-5"></input>
                            <label for="checkbox-5" class="light-checkbox checkbox-left"></label>
                        </div>
                    </div>
                </li>
                    
                <div class="topcoat-list__header anyconf-label-status">
                    <div class="topcoat-navigation-bar__item left anyconf-label-time">9:30<small>am</small>&nbsp;–&nbsp;10:15<small>am</small></div>
                </div>

                <li class="topcoat-list__item">
                       
                    <div class="anyconf-button-item">
                        <div class="anyconf-button-item-content">
                            <h2 class="anyconf-label-title">How to be Smooth: Animation & Scrolling Performance</h2>
                            <div class="anyconf-label-speaker">Nat Duca</div>
                        </div>
                        <div class="anyconf-star topcoat-icon-button--quiet">
                            <input type="checkbox" class="checkbox-5"></input>
                            <label for="checkbox-5" class="light-checkbox checkbox-left"></label>
                        </div>
                    </div>
                </li>

                <div class="topcoat-list__header anyconf-label-status">
                    <div class="topcoat-navigation-bar__item left anyconf-label-time">9:00<small>am</small>&nbsp;–&nbsp;9:30<small>am</small></div>
                </div>

                <li class="topcoat-list__item">
                
                    <div class="anyconf-button-item">
                        <div class="anyconf-button-item-content">
                            <h2 class="anyconf-label-title">When Bootstrap Attacks</h2>
                            <div class="anyconf-label-speaker">Pamela Fox</div>
                        </div>
                        <div class="anyconf-star topcoat-icon-button--quiet">
                            <input type="checkbox" class="checkbox-5"></input>
                            <label for="checkbox-5" class="light-checkbox checkbox-left"></label>
                        </div>
                    </div>
                </li>
              </ul>
        </div>
        
	</body>
</html>
