<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.anyconference"
        version   = "1.0">
    <name>AnyConference</name>

    <description>
       AnyConference application
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        PhoneGap Team
    </author>

    <access origin="*" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="phonegap-version" value="2.7.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="false" />
    
    <preference name="webviewbounce" value="false" />
    <preference name="load-url-timeout" value="10000" />
    <preference name="splash-screen-duration" value="10000" />
    <preference name="auto-hide-splash-screen" value="true" />

</widget>
