<div class="topcoat-list__container anyconf-list__container">

    <ul class="topcoat-list anyconf-list">
        <h3 class="topcoat-list__header anyconf-list__header js-schedule-header">
            <span class="topcoat-icon topcoat-icon--arrow"></span>
            <span class="anyconf-list-label">Schedule</span>
        </h3>
        <li class="topcoat-list__item anyconf-list__item">
            <a href="starredSessionCollection" class="reset-ui js-starredlist-link">
                <span class="topcoat-icon topcoat-icon--star"></span>
                <span class="anyconf-list-label">Starred Sessions</span>
            </a>
        </li>
    </ul>
    <h3 class="topcoat-list__header anyconf-list__header">
        <a href="speakerCollection" class="reset-ui js-speakerlist-link">
            <span class="topcoat-icon topcoat-icon--blank"></span>
            <span class="anyconf-list-label">Speakers</span>
        </a>
    </h3>

</div>

<div class="anyconf-event-logo"></div>