@font-face {
  font-family: "League Gothic Condensed";
  src: url("../font/LeagueGothic-CondensedRegular.otf");
}

@font-face {
  font-family: "League Gothic";
  src: url("../font/LeagueGothic-Regular.otf");
}

