

support-for-ie = false
var-border--cta = 1px solid #143250
var-background-color--cta = #288edf
var-box-shadow--cta = inset 0 1px rgba(255, 255, 255, 0.36)
var-box-shadow--cta--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color--cta = #fff
var-font-weight--cta = 500
var-text-shadow--cta = 0 -1px rgba(0, 0, 0, 0.36)
var-overflow = hidden

/* Text Input */
var-placeholder-color--input = #c6c8c8

var-font-size = 16px
var-font-weight = 200
var-font-size--large = 2.5rem
var-font-weight--large = 200
var-letter-spacing = 1px
var-border-radius = 6px
var-border-radius--large = 30px
var-border-radius--huge = 40px
var-padding = 0 1.25rem
var-height = 3rem
var-height--large = 4rem
var-line-height = var-height
var-line-height--large = var-height--large
var-vertical-align = top

/* Icon Button */
var-size--icon = var-height / 2
var-size--icon--large = var-height--large * 0.625
var-padding--icon-button = 0 var-height / 4

/* Search Input */
var-search-icon = url("../img/search.svg")
var-background-image--search-input = var-search-icon

/* GLOBAL */
var-background-color = white
var-background--body = black
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color = #454545
var-text-shadow = 0 1px #fff

/* Call To Action */
var-background-color--cta--down = #0380e8

/* Icons */
var-menu-stack-icon = url("../img/hamburger_dark.svg")

/* Navigation Bar */
var-padding--navigation-bar = 1rem
var-color--navigation-bar = #333
var-box-shadow--navigation-bar = inset 0 -1 #b9bcbc, 0 1px rgba(0,0,0,0.95)
var-background-color--navigation-bar = rgb(223, 226, 226)
var-border-bottom--navigation-bar = 1px solid #b4b4b4

/* Text Input */
var-color--placeholder = #C6C8C8
var-color--focus = #000
var-background-color--focus = #ffffff

/* List */
var-padding--list-header = 4px 20px
var-padding--list-item = 1.25rem
var-font-size--list-header = .9em
var-font-weight--list-header = 400
var-background-color--list = #f2f3f3
var-border-top--list-container = none
var-border-top--list = none
var-border-bottom--list = 1px solid rgb(239, 241, 241)
var-border-top--list-item = 1px solid white
var-border-bottom--list-item = none
var-color--list-header = rgb(101, 101, 101)
var-text-shadow--list-header = 0 1px 0 rgba(255, 255, 255, 0.5)
var-border-top--list-header = solid 1px rgba(255, 255, 255, 0.5)
var-border-bottom--list-header = solid 1px rgba(255, 255, 255, 0.23)
var-background-color--list-header = rgb(204, 207, 207)

/* Checkbox */
var-checkbox-checked = url("../img/checkbox_checked.png");
var-checkbox-unchecked = url("../img/checkbox_unchecked.png")


var-color-status-next = #99cc33
var-color--link = #cc6699
