<div class="anyconf-view__container anyconf-scroll-content">
    <div class="topcoat-navigation-bar__item left anyconf-view--yellow anyconf-label-speaker-heading">
        <img src="<%- profile_url %>">
        <%- full_name %>
    </div>
    <div class="anyconf-view anyconf-view--yellow">
        <ul class="anyconf-link-list">
            <li><a class="anyconf-link anyconf-link--twitter js-speaker-link" href="http://twitter.com/twitter">@twitter</a></li>
            <li><a class="anyconf-link anyconf-link--url js-speaker-link" href="http://example.com">example.com</a></li>
        </ul>
        <p><%- bio %></p>
    </div>
    <div class="anyconf-view anyconf-session-speakers anyconf-view--yellow anyconf-view--yellow-last">
        <h4 class="anyconf-label-title anyconf-condensed"><!-- confname --> SESSIONS:</h4>
        <% _.each(sessions, function(data) { %> 
            <div>
                <h5><a href="sessionDetails/<%- data.id %>" class="anyconf-link anyconf-session-title-link js-link"><%- data.title %></a></h5>
                <div class="anyconf-label-time">
                    <%- data.startTime.time %><small><%- data.startTime.suffix %></small>&nbsp;–&nbsp;<%- data.endTime.time %><small><%- data.endTime.suffix %></small> <span class="anyconf-day"><%- data.day %></div>
                </div>
                
            </div>
        <% }); %>
    </div>
    <div class="anyconf-pull-message anyconf-view__container pta-message"></div>
</div>
