<div class="anyconf-view__container">
    <div class="topcoat-navigation-bar__item left anyconf-view--yellow">
        <img src="<%- profile_url %>">
        <%- full_name %>
    </div>
    <div class="anyconf-view anyconf-view--yellow">
        <ul class="anyconf-link-list">
            <li><a class="anyconf-link anyconf-link--twitter js-speaker-link" href="http://twitter.com/twitter">@twitter</a></li>
            <li><a class="anyconf-link anyconf-link--url js-speaker-link" href="http://example.com">example.com</a></li>
        </ul>
        <p><%- bio %></p>
    </div>
    <div class="anyconf-view anyconf-view--yellow anyconf-view--yellow-last">
        <h4 class="anyconf-label-title anyconf-condensed"><%- confname %> SESSIONS:</h4>
        <% _.each(sessions, function(data) { %> 
            <div>
                <h5><a href="sessionDetails/<%- data.id %>" class="js-link"><%- data.title %></a></h5>
                <div><%- data.startTime.time %><%- data.startTime.suffix %></div>
                <div><%- data.endTime.time %><%- data.endTime.suffix %></div>
                <div><%- data.day %></div>
            </div>
        <% }); %>
    </div>

</div>